.react-multiple-carousel__arrow {
  margin: 0px -50px;
  margin-bottom: 50px;
}
.react-multiple-carousel__arrow--right::before {
  color: rgb(51, 172, 51);
}
.react-multiple-carousel__arrow--left::before {
  color: rgb(51, 172, 51);
}
