.optionBackground {
  background: #212121;
}

.backGroundColor-all {
  background-color: black;
}
.Login-Register {
  background-size: 200%;
  background-image: linear-gradient(to right, #000 0%, #e0e7d6 51%, #000 100%);
  transition: 0.5s;
}
.Login-Register:hover {
  background-position: right center;
  color: white;
}

.font-logo {
  color: rgb(248, 174, 86);
  transition: 0.3s;
}
.font-logo:hover {
  color: rgb(245, 95, 141);
  transition: 0.3s;
}
.gp10 {
  background-color: orange;
}
.card-bg {
  background-color: #212121;
  border: 2px solid black;
}
.mua-Ve {
  margin-top: 20px;
}
.ten-phim {
  font-size: 16px;
}
.bg-tab {
  background-color: #212121;
}
.react-multi-carousel-dot .react-multi-carousel-dot--active {
  background-color: white;
}
